<div id="<%= dom_id flat %>">
  <p>
    <strong>Title:</strong>
    <%= flat.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= flat.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= flat.location %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= flat.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= flat.longitude %>
  </p>

  <p>
    <strong>Price per night:</strong>
    <%= flat.price_per_night %>
  </p>

  <p>
    <strong>Check in:</strong>
    <%= flat.check_in %>
  </p>

  <p>
    <strong>Check out:</strong>
    <%= flat.check_out %>
  </p>

  <p>
    <strong>Guests:</strong>
    <%= flat.guests %>
  </p>

  <p>
    <strong>Bedrooms:</strong>
    <%= flat.bedrooms %>
  </p>

  <p>
    <strong>Bathrooms:</strong>
    <%= flat.bathrooms %>
  </p>

  <p>
    <strong>Wifi:</strong>
    <%= flat.wifi %>
  </p>

  <p>
    <strong>Aircon:</strong>
    <%= flat.aircon %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= flat.rating %>
  </p>

  <p>
    <strong>User:</strong>
    <%= flat.user_id %>
  </p>

</div>
