<div id="<%= dom_id booking %>">
  <p>
    <strong>Location:</strong>
    <%= booking.location %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= booking.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= booking.longitude %>
  </p>

  <p>
    <strong>Check in:</strong>
    <%= booking.check_in %>
  </p>

  <p>
    <strong>Check out:</strong>
    <%= booking.check_out %>
  </p>

  <p>
    <strong>Adults:</strong>
    <%= booking.adults %>
  </p>

  <p>
    <strong>Children:</strong>
    <%= booking.children %>
  </p>

  <p>
    <strong>User:</strong>
    <%= booking.user_id %>
  </p>

  <p>
    <strong>Flat:</strong>
    <%= booking.flat_id %>
  </p>

</div>
